@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;1,100;1,200&display=swap');

:root {
    --fonte-desenhada: 'Edu VIC WA NT Beginner', cursive;
    --fonte-padrao: 'Montserrat', sans-serif;
    --azul-claro: rgb(100, 100, 196);
    --azul-escuro: rgb(61, 61, 131);
    --fundo-campo: rgba(245, 247, 246, 0.856);
    --preto: black;
}

* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family: var(--fonte-padrao);
}

body {
    background-color: var(--azul-claro);
}

.container {
    margin-top:15vh;
    display:flex;
    justify-content: center;
    min-width:150px;
    
}

.container__box {
    
    display:flex;
    flex-direction: column;
    align-items: center;
    width:75%;
}

.container__title {
    color:white;
    font-family: var(--fonte-desenhada);
    font-weight: bold;
    font-size:40px;
}

.container__form-adicionar {
    display:flex;
    
    margin: 15px;
    width:100%;
    
}

.container__campos {
    background-color: var(--fundo-campo);
    border-radius:5px;
    box-shadow: 4px 3px 2px;
    font-size:18px;
    padding:8px;
    height:40px
}

.container__campos--hover:hover {
    background-color: white;
    transition: 0.2s ease-in;
}

.container__campos--active:active {
    border-width:3px;
}

.container__input-adicionar {
    margin-right:15px;
    line-height:35px;
    width:100%;
    padding-left:5px;  
}

#container__button-adicionar {
    font-weight: bold;
    color:var(--azul-escuro);
    text-transform:uppercase;
}


.container__form-itens {
    align-self:flex-start;
}

.container__itens {
    list-style-type: none;
}

.show {
    animation: showw 1000ms ease-out;
}

.hide { 
    opacity: 0;
}

@keyframes showw {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}


@media screen and (max-width:461px) {

    .container__form-adicionar-itens{
        flex-wrap:wrap;
    }

    .container__input-adicionar {
        margin:0 auto;
        min-width:300px;
        
    }

    #container__button-adicionar {
        width:100%;
        margin:15px auto;
        min-width:300px;
    }
}